.App {
  text-align: center;

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #282c34;
    transition: background-color 0.8s ease, color 0.8s ease;
  }

  #quote-box {
    padding: 30px;
    width: max(40vw, 400px);
    background-color: white;
    border-radius: 20px;
    box-sizing: border-box;

    #text {
      font-size: 30px;
    }

    #author {
      text-align: end;
      padding: 10px 20px;
      font-size: 22px;
    }

    #text, #author {
      opacity: 1;
      transition: opacity 0.4s ease;
    }

    #tweet-quote {
      float: inline-start;
      margin-left: 2vw;
      cursor: "pointer";
      color: white;
      font-size: 20px;
      padding: 4px 8px;
      text-decoration: none;
      border-radius: 7px;
      transition: background-color 0.8s ease, color 0.8s ease;
    }

    #new-quote {
      float: inline-end;
      margin-right: 1.5vw;
      color: white;
      border-radius: 10px;
      padding: 9px 15px;
      font-size: 15px;
      border: none;
      transition: background-color 0.8s ease, color 0.8s ease;
    }
  }
}

